*{
  margin:0;
  padding:0;
}

body, html{
  -webkit-text-size-adjust: 100%;
  display: block;
}

.page { left: 0; right: 0; top: 0; bottom: 0; }

.flashCards {
  background: -webkit-linear-gradient(top, #c0c0c0, #ffffff);
  background: -moz-linear-gradient(top, #c0c0c0, #ffffff);
  background: -ms-linear-gradient(top, #c0c0c0, #ffffff);
  background: -o-linear-gradient(top, #c0c0c0, #ffffff);
  background-repeat: no-repeat;
  font-family: Georgia, serif;
  font-style:italic;
}

.row{
  overflow: hidden; 
  position: absolute;
  left: 0; 
  right: 0;
}

.header.row {
  background-color: #2691a3;
  height: 5rem;
}

.card.row {
  background-color: #FFF;
  background: -webkit-linear-gradient(left, #E0E0E0 , #FFFFFF, #E0E0E0); /* For Safari */
  background: -o-linear-gradient(right, #E0E0E0 , #FFFFFF, #E0E0E0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #E0E0E0 , #FFFFFF, #E0E0E0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #E0E0E0 , #FFFFFF, #E0E0E0); /* Standard syntax */
  border-right-style: solid;
  border-left-style: solid;
  border-width: 1px;
  border-color: #aaa;

  overflow-y: auto; 
  -webkit-overflow-scrolling: touch;

  top:5rem;
  bottom:5rem;
  padding:1rem;
  text-align: center;
  font-size: 0em;
}

.card.row:before{
  content: '';
  display:inline-block;
  height:100%;
  vertical-align: middle;
}

.centered{
  display: inline-block;
  vertical-align: middle;
  width:95%;
}

.footer.row{
  background-color: #C6DFF7;
  background: -webkit-linear-gradient(left, #C6DFF7 , #FFFFFF, #C6DFF7); /* For Safari */
  background: -o-linear-gradient(right, #C6DFF7 , #FFFFFF, #C6DFF7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #C6DFF7 , #FFFFFF, #C6DFF7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #C6DFF7 , #FFFFFF, #C6DFF7); /* Standard syntax */
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #aaa;
  box-shadow: inset 1px 4px 9px -6px; 

  height: 5rem;
  bottom: 0;
  margin: 0 auto;
}

/*.header, .footer { padding: 0 1em; }*/

.title{
  background-color: #4c4c4c;
  color: #FFF;
  width: 10%;
  height: 100%;
  display: inline-block;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  
  border-left: 2rem solid white;
  margin: .5rem auto 0 auto;
}

.term p{
  vertical-align:middle;
  font-size: 5rem;
}

.definition p{
  vertical-align:middle;
  font-size:2rem;
  padding:0 30px;
  height:100%;
}

a{
  text-decoration: none;
}

.reveal, .confirm{
  text-align: center;
  margin: 0 auto;
}

.reveal a{
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  padding-top:1.5rem;
  width: 100%;
  margin:0;
  color: #3779AC;
}

.confirm a{
  display: inline-block;
  height: 100%;
  width:50%;
  padding-top:1.5rem;
  margin: 0;
  text-align: center;
  font-size: 2rem;
  color: #3779AC;
}

.known{
  float: left;
}

.unknown{
  float: right;
}

/* thanks to http://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */

@media only screen 
and (max-width : 320px) {
  html{
    font-size: 10px;
  }
}

/* LOG IN PAGE BEGIN */

.logIn {
  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#75bbce), to(#63a4bc));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #75bbce, #63a4bc);

  /* Firefox 3.6+ */
  background: -moz-radial-gradient(circle, #75bbce, #63a4bc);

  /* IE 10 */
  background: -ms-radial-gradient(circle, #75bbce, #63a4bc);

  /* Opera couldn't do radial gradients, then at some point they started supporting the -webkit- syntax, how it kinda does but it's kinda broken (doesn't do sizing) */

}