*{
  margin:0;
  padding:0;
}

body, html{
  -webkit-text-size-adjust: 100%;
  display: block;
}

body{
  background-repeat: no-repeat;
  font-family: Georgia, serif;
  font-style:italic;
}

h1, h2, h3, h4, h5{
  color: #FFF;
}

h1, h2, h4, h5{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-style:normal;
}

h1{
  padding-top: 1.5rem;
  padding-left: 2rem;
  font-size:2rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h2{
  padding-top: 1.5rem;
  padding-left: 2rem;
  font-size:2rem;
  font-weight: 300;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a{
  text-decoration: none;
}

.row{
  overflow: hidden; 
  position: absolute;
  left: 0; 
  right: 0;
}

.centered{
  display: inline-block;
  vertical-align: middle;
  width:95%;
}

.header.row {
  background-color: #2691a3;
  height: 5rem;
  max-height: 5rem;
  width:100%;
  display:block;
}

.icon{
  width: 5rem;
  height: 100%;
  display: inline-block;
  float:left;
}

.header .icon{
  background-color: #4c4c4c;
  color: #FFF;
}

.arrow-right{
  width: 0; 
  height: 0; 
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  
  border-left: 2rem solid white;
  margin: .5rem auto 0 auto;
}

.circle{
  background-color: #FFF;
  background-position: 30% 40%;
  background-repeat: no-repeat;
  background: -webkit-gradient(radial, 30% 40%, 0, 30% 80%, 100, from(#EEE), to(#aaa));
  background: -webkit-radial-gradient(30% 40%, closest-corner, #EEE, #aaa);
  background: -moz-radial-gradient(30% 40%, closest-corner, #EEE, #aaa);
  background: -ms-radial-gradient(30% 40%, closest-corner, #EEE, #aaa);
  border-radius: 50%;
  width: 3rem;
  height: 3rem; 
  margin: 1rem;
}

/*   ~~~~~~~~~~ MENU ~~~~~~~~~~ */
.deckList.row{
  top:5rem;
  bottom: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.deck{
  background-color: #50A6BA;
  height: 5rem;
  display: block;
  margin-bottom: 2px;
}

.deck .icon{
  background-color: #88C3D0;
}

.title{
  display: inline-block;
  margin: 0;
  position: absolute;
}

/* ~~~~~~~~~~ CARDS ~~~~~~~~~~ */
.card.row {
  background-color: #FFF;
  background: -webkit-linear-gradient(left, #E0E0E0 , #FFFFFF, #E0E0E0); /* For Safari */
  background: -o-linear-gradient(right, #E0E0E0 , #FFFFFF, #E0E0E0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #E0E0E0 , #FFFFFF, #E0E0E0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #E0E0E0 , #FFFFFF, #E0E0E0); /* Standard syntax */
  border-right-style: solid;
  border-left-style: solid;
  border-width: 1px;
  border-color: #aaa;

  overflow-y: auto; 
  -webkit-overflow-scrolling: touch;

  top:5rem;
  bottom:5rem;
  padding:1rem;
  text-align: center;
  font-size: 0em;
}

.card.row:before{
  content: '';
  display:inline-block;
  height:100%;
  vertical-align: middle;
}

.footer.row{
  background-color: #C6DFF7;
  background: -webkit-linear-gradient(left, #C6DFF7 , #FFFFFF, #C6DFF7); /* For Safari */
  background: -o-linear-gradient(right, #C6DFF7 , #FFFFFF, #C6DFF7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #C6DFF7 , #FFFFFF, #C6DFF7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #C6DFF7 , #FFFFFF, #C6DFF7); /* Standard syntax */
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #aaa;
  box-shadow: inset 1px 4px 9px -6px; 

  height: 5rem;
  bottom: 0;
  margin: 0 auto;
}

.term p{
  vertical-align:middle;
  font-size: 5rem;
}

.definition p{
  vertical-align:middle;
  font-size:2rem;
  padding:0 30px;
  height:100%;
}

.reveal, .confirm{
  text-align: center;
  margin: 0 auto;
}

.reveal a{
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  padding-top:1.5rem;
  width: 100%;
  margin:0;
  color: #3779AC;
}

.confirm a{
  display: inline-block;
  height: 100%;
  width:50%;
  padding-top:1.5rem;
  margin: 0;
  text-align: center;
  font-size: 2rem;
  color: #3779AC;
}

.known{
  float: left;
}

.unknown{
  float: right;
}

/* ~~~~~~~~~~ TITLE ~~~~~~~~~~ */
.deckName.row{
  background-position: 30% 30%;
  background-repeat: no-repeat;
  background: -webkit-gradient(radial, 30% 60%, 0, 30% 80%, 100, from(#88C3D0), to(#50A6BA));
  background: -webkit-radial-gradient(30% 60%, closest-corner, #88C3D0, #50A6BA);
  background: -moz-radial-gradient(30% 60%, closest-corner, #88C3D0, #50A6BA);
  background: -ms-radial-gradient(30% 60%, closest-corner, #88C3D0, #50A6BA);
  display: block;
  padding: 5rem;
  top:0;
  bottom:5rem;
}

/* thanks to http://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */

@media only screen 
and (max-width : 320px)
and (max-width : 480px)  {
  html{
    font-size: 10px;
  }
}


}